<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Action Motard</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  
<nav class="grey darken-4 navbar-fixed" role="navigation">
    <div class="nav-wrapper container">
    	<a id="logo-container" href="#" class="brand-logo">Logo</a>
    	<ul class="right hide-on-med-and-down text-grey lighten-2">
        	<li><a href="/index.html" class="light-blue-text text-lighten-2 js-scrollTo">A Propos</a></li>
        	<li><a href="events.html" class="light-blue-text text-lighten-2">Events</a></li>
        	<li><a href="assos.html" class="light-blue-text text-lighten-2">Assos</a></li>
          <a href="#modal1" id="trigger-overlay" class="modal-trigger waves-effect waves-light btn light-blue lighten-2">S'inscrire</a>
          <a href="#connection" id="trigger-overlay" class="modal-connection waves-effect waves-light btn waves-effect waves-light btn light-blue lighten-2">Se connecter</a>
    	</ul>

    	<ul id="nav-mobile" class="side-nav">
        	<li><a href="/index.html" class="light-blue-text text-lighten-2">A Propos</a></li>
          <li><a href="events.html" class="light-blue-text text-lighten-2">Events</a></li>
          <li><a href="assos.html" class="light-blue-text text-lighten-2">Assos</a></li>
          <a href="#modal1" id="trigger-overlay" class="modal-trigger waves-effect waves-light btn light-blue lighten-2">S'inscrire</a>
          <a href="#connection" id="trigger-overlay" class="modal-connection waves-effect waves-light btn waves-effect waves-light btn light-blue lighten-2">Se connecter</a>
    	</ul>
      	<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!-- Modal Inscrire -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="col s12 center">
        <h3>Inscription</h3>
      </div>
      <div class="row form-inscription">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Prénom</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Nom</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="text" class="validate">
              <label for="password">Votre Mot de Passe</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Retaper Votre Mot de Passe</label>
            </div>
          </div>
          <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light btn-submit" type="submit" name="action">Envoyer
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Connection -->
  <div id="connection" class="modal">
    <div class="modal-content">
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="validate">
            <label for="password">Votre Mot de Passe</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light btn-submit" type="submit" name="action">Envoyer
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>

<div class="container menu-scroll">
	<div class="col s12 center"><h2>Mentions Légales / Crédits</h2></div>
	<div class="row">
		<div class="col s12 m6">
			<p>Thomas Bricquet
			<br>
				adresse
			<br>
				code postal
			<br>
				Tél. </p>
		</div>
		<div class="col s12 m6">
			<p>Directeur de la publication : Thomas Bricquet
			<br>
				Création site internet : Thomas Bricquet & Jérôme Mouly
			<br>
				Photographies: pixabay.com
			<br>
				Direction artistique: Jérôme Mouly</p>
		</div>
		<div class="col s12">
			<p><h5>Droits d’auteurs</h5>

				Toutes les données et informations contenues sur ce site font l’objet d’une protection au titre du droit d’auteur et des droits de propriété intellectuelle. La reproduction totale ou partielle des documents du « site » est autorisée aux fins exclusives d’information pour un usage personnel et privé ; toute reproduction ou toute utilisation de copies réalisées à d’autres fins est expressément interdite et est susceptible de constituer une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.

				Les lois qui gouvernent ce site sont les lois françaises et les tribunaux compétents sont les tribunaux français.



				<h5>Liens hypertextes</h5>

				L’éditeur du site ne pourra être tenu responsable de l’ensemble des hypertextes ou de tout autre élément informatique utilisé, directement ou indirectement, à partir du site, l’existence d’un lien n’ayant pas pour effet de transférer la responsabilité à l’éditeur. L’éditeur du site ne garantit pas et ne prend aucun engagement concernant des sites tiers et ne sera pas responsable de leur contenu. Il est strictement interdit de créer un lien hypertexte renvoyant sur le site sans l’accord express de l’éditeur du site.



				<h5>Protection des données</h5>

				Données statistiques

				Nous mesurons le nombre de pages vues, le nombre de visites, ainsi que l’activité des visiteurs sur le site, et leur fréquence de retour. Pour cela, nous utilisons le logiciel Google Analytics.



				<h5>Sécurité et Confidentialité</h5>

				Mention CNI5

				Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée en 2004, le traitement automatisé de données nominatives a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) et a été enregistrée sous le numéro 1746358 v 0

				Vous disposez d’un droit d’accès, de rectification et de suppression des données qui vous concernent.

				Pour exercer ce droit, contactez-nous via notre formulaire de contact

				Aucune information personnelle n’est cédée à des tiers.</p>
		</div>
	</div>
</div>

<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
          <div class="col l6 s12">
          		<h5 class="blue-text text-lighten-2">Action Motard</h5>
          		<p class="blue-text text-lighten-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper nulla vitae lacus laoreet, id molestie felis tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec interdum, elit sit amet pretium vestibulum, velit augue mollis leo, sed laoreet quam nibh vel diam. Sed hendrerit eu nunc sit amet cursus.</p>
        	</div>
          <div class="col l6 s12 center">
              <h5 class="blue-text text-lighten-2">Menu</h5>
              <ul>
                <li><a href="/index.html" class="light-blue-text text-lighten-2 js-scrollTo">A Propos</a></li>
                <li><a href="events.html" class="light-blue-text text-lighten-2">Events</a></li>
                <li><a href="assos.html" class="light-blue-text text-lighten-2">Assos</a></li>
              </ul>
          </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        	<div class="row">
        		<div class="col s12 m8">
          			&copy; Copyright 2016 / Made with <3 by <a class="blue-text text-lighten-2" href="http://materializecss.com">Thomas Bricquet</a>&nbsp;&amp;&nbsp;<a class="blue-text text-lighten-2" href="http://jeromemouly.com">Jérôme Mouly</a>&nbsp;/&nbsp;Design by <a class="blue-text text-lighten-2" href="http://jeromemouly.com">Jérôme Mouly</a>
        		</div>
        		<div class="col s12 m4">
          			<a class="blue-text text-lighten-2" href="mentions.html">Mentions Légales / Crédits</a>
        		</div>
        	</div>
        </div>
    </div>
</footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script src="/js/script.js"></script>

    <script type="text/javascript">
  	WebFontConfig = {
    google: { families: [ 'Montserrat:400,700:latin' | 'Candal::latin' ] }
  	};
  	(function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  	})(); </script>

</body>
</html>